<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Category</th>
            <th>Ads Count</th>
        </tr>
        </thead>
        <tbody>
        {{#each categories}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.ads.length}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

</body>
</html>
