<div class="container">
    <form class="form-inline" method="POST" action="/admin/categories">
        <div class="form-group ">
            <label for="categoryName">Category name:</label>
            <input type="text" class="form-control" id="categoryName" name="name" placeholder="Category Name" >
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <br>
    <br>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Category</th>
            <th>Ads Count</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each categories}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.ads.length}}</td>
                <td>
                    <a href=""><button type="submit" class="btn-xs btn-primary btn">Edit</button></a>
                    <a href="/admin/category-delete/{{this.id}}"><button type="submit" class="btn btn-danger btn-xs">Delete</button></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

</body>
</html>
