<div class="container">
    <form class="form-inline" method="POST" action="/admin/towns">
        <div class="form-group ">
            <label for="townName">Town name:</label>
            <input type="text" class="form-control" id="townName" name="name" placeholder="Town Name" >
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Town</th>
            <th>Ads Count</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each towns}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.ads.length}}</td>
                <td>
                    <a href=""><button type="submit" class="btn btn-primary btn-xs">Edit</button></a>
                    <a href="/admin/town-delete/{{this.id}}"><button type="submit" class="btn btn-danger btn-xs">Delete</button></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>