<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Ads Count</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr>
                <td>{{this.fullName}}</td>
                <td>{{this.ads.length}}</td>
                <td>
                    <a href=""><button type="submit" class="btn btn-primary btn-xs">Edit</button></a>
                    <a href="/admin/user-delete/{{this.id}}"><button type="submit" class="btn btn-danger btn-xs">Delete</button></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

</body>
</html>
