<h1> {{user.fullName}}</h1>
<h2> haha</h2>

<form class="form-horizontal" method="POST" action="/admin/user-delete/{{user.id}}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

